AuditSystem.WebUI/Connected Services/Authentication/ExternalAuthentication3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.165/ExternalAuthenticationService/ExternalAuthentication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExternalAuthenticationService" />
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Decodepass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Operator" type="xs:int" />
        <xs:element minOccurs="0" name="Application" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExternalAuthenticationService" minOccurs="0" name="ValidateUserResult" nillable="true" type="q1:AuthResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserNOC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Decodepass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Operator" type="xs:int" />
        <xs:element minOccurs="0" name="Application" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserNOCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExternalAuthenticationService" minOccurs="0" name="ValidateUserNOCResult" nillable="true" type="q2:AuthResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OTP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Application" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserOTPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinitialiseUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Application" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinitialiseUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExternalAuthenticationService" minOccurs="0" name="ReinitialiseUserResult" nillable="true" type="q3:AuthResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Designation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Application" type="xs:int" />
        <xs:element minOccurs="0" name="Generated" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExternalAuthenticationService" minOccurs="0" name="RegisterUserResult" nillable="true" type="q4:RegisterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgotPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Application" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForgotPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ForgotPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Application" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Application" type="xs:int" />
        <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Designation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Application" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditProfileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GovSendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="txtFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtCC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtBcc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtSubject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtBody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GovSendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GovSendMailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSSO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Application" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateSSOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExternalAuthenticationService" minOccurs="0" name="ValidateSSOResult" nillable="true" type="q5:AuthResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSOUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSOUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSSOUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GovSendMailAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="txtFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtCC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtBcc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtSubject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtBody" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsAttachment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GovSendMailAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GovSendMailAttachmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSingleSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobileNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="templateid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSingleSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSingleSMSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBulkSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobileNos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="templateid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBulkSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendBulkSMSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUnicodeSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobileNos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Unicodemessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="templateid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUnicodeSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendUnicodeSMSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOTPMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Application" type="xs:int" />
        <xs:element minOccurs="0" name="resetAttempt" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOTPMsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendOTPMsgResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUnicodeOTPSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobileNos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Otp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUnicodeOTPSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendUnicodeOTPSMSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>