AuditSystem.WebUI/Connected Services/Authentication/ExternalAuthentication2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExternalAuthenticationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExternalAuthenticationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.165/ExternalAuthenticationService/ExternalAuthentication.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AuthResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndUserRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UserRole" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthResponse" nillable="true" type="tns:AuthResponse" />
  <xs:complexType name="RegisterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterResponse" nillable="true" type="tns:RegisterResponse" />
</xs:schema>